@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 2em;
  box-sizing: border-box;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #4ac29a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bdfff3,
    #4ac29a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bdfff3,
    #4ac29a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
}

.todo-list {
  padding-top: 10px;
  width: 400px;
}